
@font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins-extralight-webfont.woff2') format('woff2'),
         url('../fonts/poppins-extralight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

* {
  box-sizing: border-box;
  margin: 0 0;
  padding: 0 0;
}

html {
  font-family: 'poppins', Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;  
}

h1 {
  font-weight: lighter;
  margin: 0 auto;
  text-align: center;    
}

strong {
  font-weight: bold;
}

h2 {
  font-weight: bold;  
}

header {
  margin-top: 83px;  
}

header > p {   
  text-align: center;  
}

p {
  line-height: 1.7rem;
}

main {
  border-style: solid;
  border-width: 1px;
  margin: 0 auto;  
}

article.card, div.cardset {
  display: inline-block;
  vertical-align: middle;
}

.c2, .c3 {
  width: 100%;
}

article.card {  
  border-style: solid;
  border-width: 1px;
  padding: 25px 28px;
  max-width: 368px;    
  /*position: relative;*/
}

article.card > p {
  max-width: 300px;  
  font-size: 0.9rem;  
}

img.card-icon {
  margin-left: auto;  
  display: block;
  position: relative;  
}

footer > p {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

@media all and (min-width: 1200px) {

  h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    width: 600px;
  }
  
  header > p {
    font-size: 1.1rem;
    width: 550px;
    margin: 15px auto 0 auto;
  }
  
  header {
    margin-bottom: 65px;
  }
  
  h2 {
    font-size: 1.3rem;
  }
  
  article.card {
    height: 250px;
    margin-bottom: 30px;
  }
  
  article.card > p { 
    margin-top: 10px;    
  }
  
  img.card-icon {
    width: 64px;
    height: 64px;
    top: 38px;
  }
  
  main {
    width: 1174px;
  }
  
  div.cardset, .c1, .c4 {
    width: 368px;    
  }
  
  .c1 {
    margin-right: 30px;
  }
  
  .c4 {
    margin-left: 30px;
  }

}

@media all and (max-width: 375px) {

  p {
    font-size: 0.9rem;
  }
  
  h1, header > p {
    width: 325px;
  }
  
  h1 {
    font-size: 1.65rem;   
    line-height: 2.5rem;
  }
  
  header {
    margin-bottom: 70px;
  }
  
  header > p {
    font-size: 1.02rem;
    margin: 20px auto 0 auto;
  }
  
  h2 {
    font-size: 1.3rem;
  }
  
  article.card {
    height: 225px;
    margin-bottom: 24px;
  }
  
  article.card > p {        
    margin-top: 6px;
  }
  
  img {
    width: 58px;
    height: 58px;
    top: 30px;
  }

  main {
    width: 320px;  
  }
  
  div.cardset, .c1, .c4 {
    width: 100%;    
  }

}

